body {
    margin: 0 !important;
    font-family: 'Roboto', sans-serif;
    padding-top: 150px;
    position: relative;
    padding-bottom: 300px;

}

.connect {
    display: flex;
}
/*.container {*/
/*    align-self: center;*/
/*}*/

.fond {
    /*width: 91.66%;
    height: 70.01%;*/
    margin-left: 3% ;
    margin-right: 3% ;
    padding: 30px;
    background : rgba(23, 185, 163, 0.78) !important;
    border-radius: 38px;
    top: 195px;
}

.container_connect{
    width:450px;
    margin:0 auto;
    margin-top:5%;
}
/* Bordered form */
.container_connect form {
    width:100%;
    padding: 30px;
    background : rgba(23, 185, 163, 0.78) !important;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border-radius: 38px;
}
.container_connect h1{
    text-align: center;
    margin: 0 auto;
    padding-bottom: 10px;
}

.container_connect input, textarea, select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}


.container_connect input[type=submit] {
    background-color: #EBD1D3;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
.container_connect input[type=submit]:hover {
    background-color: white;
    color: #EBD1D3;
    border: 1px solid #EBD1D3;
}
.search {
     height: 20px;
     font-size: large;
 }