.connect {
    display: flex;
}
/*.container {*/
/*    align-self: center;*/
/*}*/

.container{
    width:450px;
    margin:0 auto;
    margin-top:5%;
}
/* Bordered form */
form {
    width:100%;
    padding: 30px;
    background: #C4C4C4;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border-radius: 38px;
}
.container h1{
    text-align: center;
    margin: 0 auto;
    padding-bottom: 10px;
}

.container input[type=text], .container input[type=password], .container input[type=email], .container input[type=number], .container input[type=date], .container option {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}


.container input[type=submit] {
    background-color: #53af57;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
.container input[type=submit]:hover {
    background-color: white;
    color: #53af57;
    border: 1px solid #53af57;
}