#menu-none{
    visibility: hidden;
    width: 0;
    transition: width 0.5s ,visibility 0.2s;
}
.menu-div{
    border-bottom: solid black 1px;
    padding-top: 7%;
    padding-bottom: 2% ;
}
.menu-div a{
    text-decoration: none;
    display: block;
    font-size: 20px;
    color: black;
}
.menu-div .photo{
    text-align: center;
}
.photo {
    align-self: center;
    margin-left: 10px;
}
.menu-div-bas{
    text-align: center;
}
.menu-div-bas p{
    font-size: 2rem;
}
.menu-div-bas ul {
    margin:0;
    padding:0;
    list-style-type:none;
    text-align:center;
}
.menu-div-bas li {
    margin-left:auto;
    margin-right: auto;
    margin-bottom: 10%;

}
.menu-div-bas li a {

    width:100%;
    color:white;
    text-decoration:none;
    padding-top: 10%;
    padding-bottom: 10%;

}
.menu-div-bas li a:hover {
    color:#FFD700;
    background: linear-gradient(-90deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
    border-radius: 10px;
}
.photo img {
    border-radius: 80%;
}
#display ul {
    margin:0;
    padding:0;
    list-style-type:none;
    text-align:center;
}
#display li {
    float:left;
    margin:auto;
    padding:0;
}
#display li a {
    display:block;
    width:100px;
    color:white;
    text-decoration:none;
    padding:5px;
}
#display li a:hover {
    color:#FFD700;
}