body {
    margin: 0 !important;
    font-family: 'Roboto', sans-serif;
}

.fond {
    /*width: 91.66%;
    height: 70.01%;*/
    margin-left: 3%;
    margin-right: 3%;
    padding: 10px 10px 10px 10px;
    background: rgba(23, 185, 163, 0.78) !important;
    border-radius: 38px;
    top: 195px;
}

.fond1 {
    /*width: 91.66%;
    height: 70.01%;*/
    margin-left: 3%;
    margin-right: 3%;
    padding: 10px 10px 10px 10px;
    background: rgba(23, 185, 163, 0.78) !important;
    border-radius: 38px;
    top: 195px;
    text-align: center;
    margin-bottom: 3%;
    display: flex;
    justify-content: space-around;
}

.create input {
    background-color: #EBD1D3;
    color: white;
    padding: 15px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    width: 50%;
    align-content: center;
    display: block;
    margin: auto;
    margin-bottom: 2%;
}

.create input:hover {
    background-color: white;
    color: #EBD1D3;
    border: 1px solid #EBD1D3;
}

div#slider {
    width: 80%;
    margin: auto;
    max-width: 1000px;
    margin-bottom: 20px;
}

div#slider figure {
    position: relative;
    width: 400%;
    margin: 0;
    padding: 0;
    font-size: 0;
    text-align: left;
}

div#slider figure img {
    width: 25%;
    height: auto;
    float: left;
}

div#slider {
    width: 80%;
    max-width: 1000px;
    overflow: hidden
}

@keyframes slidy {
    0% {
        left: 0%;
    }
    20% {
        left: 0%;
    }
    25% {
        left: -100%;
    }
    45% {
        left: -100%;
    }
    50% {
        left: -200%;
    }
    70% {
        left: -200%;
    }
    75% {
        left: -300%;
    }
    95% {
        left: -300%;
    }
    100% {
        left: -400%;
    }
}

div#slider figure {
    position: relative;
    width: 400%;
    margin: 0;
    padding: 0;
    font-size: 0;
    left: 0;
    text-align: left;
    animation: 30s slidy infinite;
}

#photo_best_user {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.align_best {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.align_best a {
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    padding-left: 15px;

}

.align_best img {
    padding-left: 15px;
}

.align_best p {
    font-size: 1rem;
}

.align_best a:hover {
    color: white;
}

.slideshow-container {
    text-align: center;
    margin-bottom: 3%;
}

.slideshow-container img {
    width: 75%;

}

.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active {
    background-color: #717171;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 2s;
    animation-name: fade;
    animation-duration: 2s;
    transition: 5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .text {
        font-size: 11px
    }
}
.flex_column{
    display: flex;
    flex-direction: row;
}
#carte{
    padding: 2%;
    border: solid black 1px;
    margin: 1%;
    box-shadow: 4px 5px 7px 0 rgba(74,66,74,1);
    border-radius: 10px;
}