body {
    margin: 0 !important;
    font-family: 'Roboto', sans-serif;
}

.fond {
    /*width: 91.66%;
    height: 70.01%;*/
    margin-left: 3% ;
    margin-right: 3% ;
    padding: 10px 10px 10px 10px;
    background : rgba(23, 185, 163, 0.78) !important;
    border-radius: 38px;
    top: 195px;
}

.create input {
    background-color: #EBD1D3;
    color: white;
    padding: 15px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    width: 50%;
    align-content: center;
    display: block;
    margin: auto;
    margin-bottom: 2%;
}

.create input:hover {
    background-color: white;
    color: #EBD1D3;
    border: 1px solid #EBD1D3;
}