body {
    margin: 0 !important;
    font-family: 'Roboto', sans-serif;
}

.fond {
    /*width: 91.66%;
    height: 70.01%;*/
    margin-left: 3% ;
    margin-right: 3%;
    padding: 10px 10px 10px 10px;
    background : rgba(23, 185, 163, 0.78) !important;
    border-radius: 15px;
    top: 195px;
}

.profil {
    justify-content: space-around;
}
/*.avatar{*/
/*    background-color: #EBD1D3;*/
/*    height: 140px;*/
/*    width: 140px;*/
/*    border-radius: 50%;*/
/*}*/
.photo {
    align-self: center;
    margin-left: 10px;
}

.photo img {
    border-radius: 80%;
}

.avatar a {
    margin : 10px;
    font-size: small;
}
info{
    display: block;
    align-self: center;
}
.info input{
    height: 15px;
    padding-left: 5px;
    border-radius: 8px;
    border: 1px ridge black;

}

.event {
    min-width: 80%;
    justify-content: space-around;
    align-items: center;
}

p {
    margin : 0;
}

.progress {
    justify-content: right;
}

.flex{
    display: flex;
    padding: 3px
}
.imgTree {
    width: 75px;
    padding-right: 50px;
    margin-top: 45%;

}

.titleOfEvent {
    text-decoration: underline;
}

.collectionItem {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}
.collectionItem ul {
    justify-content: center;
    margin-left: 50px;
}

.inputListOfEvent {
    background-color: #EBD1D3;
    border: none;
    color: #008F8F;
    padding: 8px 20px;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
}
.evenement p {
    margin: 10px;
}


input[type=submit] {
    background-color: #EBD1D3;
    color: white;
    padding: 10px 10px;
    margin: 8px 0;
    border: none;
    border-radius: 10px;
    cursor: pointer;

}
input[type=submit]:hover {
    background-color: white;
    color: #EBD1D3;
    border: 1px solid #EBD1D3;
}

.modifier {
    margin-top: 20px;
    margin-bottom: 20px;
}
.photoProfil {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.photoProfil {
    border-radius: 50%;
}

form {
    text-align: center;
}

