body {}



.fond {
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
    padding: 10px 10px 10px 10px;
    background: #C4C4C4;
    border-radius: 38px;
    top: 195px;
}

#search {
    border-radius: 3px;
}

.fond {
    display: block;
}


#imgTree {
    width: 75px;
    padding-right: 50px;
    margin-top: 45%;
}

.titleOfEvent {
    text-decoration: underline;
}

.collectionItem {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}

.description {
    border: 1px solid black;
}